/*-------------------------------/ CONFIGURAÇÕES GERAIS /--------------------------------*/
html, body{
    height: 100%;
    width: 100%;

    margin: 0;
}
body{
    background-image: url(../imgs/bg-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*------------------------/ CONFIGURAÇÕES DO HEADER (CABECALHO) /------------------------*/
header > .container-fluid > .navbar-brand{
 color: black;
}
header > .container-fluid > .collapse.navbar-collapse > .navbar-nav.me-auto.mb-2.mb-lg-0 > .nav-item > .nav-link:hover{
    color: white;
    transition: 0.5s;
}
header > .container-fluid > .collapse.navbar-collapse > .navbar-nav.me-auto.mb-2.mb-lg-0 > .nav-item > .nav-link:target{
    color: orange;
}
header > .container-fluid > .collapse.navbar-collapse> .justify-content-start > .btn.btn-sm.btn-outline-secondary{
    color: black;
    border: none

}
header > .container-fluid > .collapse.navbar-collapse> .justify-content-start > .btn.btn-sm.btn-outline-secondary:hover{
    background-color: #FF7F50;
    color: white;
    transition: 0.5s;
}

/*-----------------------------/ CONFIGURAÇÕES DO CONTEUDO /-----------------------------*/

.flex{
    display: flex;
    background-size: 100%;
    background-color:rgba(255, 255, 255, 0.425);
    display: flex;
    max-width: 1500px ;
    margin: auto;
    flex-wrap: wrap;
    padding:3px;
    
}
.flex > .card.mb-3 {
    background-color: transparent;
    border-color: transparent;
    text-align: justify;
    flex: 1 1 1500px;
    margin: 10px 10px
}

#card-about{
    background-image: url(https://image.freepik.com/vetores-gratis/fundo-de-ponto-de-interrogacao-branco-em-estilo-minimalista_1017-25235.jpg);
    background-size: cover;
}
#card-obj{
    background-image: url(https://image.freepik.com/fotos-gratis/fundo-de-produto-de-vegetacao_53876-90824.jpg);
    background-size: cover;
}   
#card-func{
    background-image: url(https://image.freepik.com/vetores-gratis/memphis-simples-tom-laranja_53876-114613.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
#card-ctt{
    background-image: url(https://image.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148810353.jpg);
    background-size: cover;
   
   
}
#lampadas-obj{
    size: 500px;;
}

@media screen and (max-width:600px){

    #card-func{
        background-image: url(https://image.freepik.com/vetores-gratis/memphis-simples-tom-laranja_53876-114613.jpg);
        background-repeat: repeat;
        background-size: cover;
        background-position: auto;
    }
  
    .flex > #card-obj > .row.g-0 > .col-md-2 > img{
        
       
        width: auto;
        height: auto;
    }
}



/* Breakpoint: 1024 */
@media screen and (min-width:601px) and (max-width:1024px){

  

}

/* Breakpoint: 1200 */
@media screen and (min-width:1025px) and (max-width:1200px){

    

}
/*------------------------/ CONFIGURAÇÕES DO FOOTER (RODAPE) /------------------------*/
.ref-bg > :link{
    color: coral;
    text-decoration: none;
}
.ref-bg > :visited{
    color: coral;
}
.ref-bg{
    color: coral;
    font-size: small;
    text-align: center;
}