body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imgs/fundoLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.btn.btn-sm.btn-outline:hover{
    color: orange;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    header {
        margin-left: 40%;
    }

    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 35%;
    }

    .register-form{
        margin-top: 20%;
    }

}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #000;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    color: #000 !important;
    margin-top: 5px;
}

.btn-black:hover{
    color: orange !important;
}

.registro a{
    color: #000;
}

.registro a:hover{
    color: orange !important;
}