body {
    background-image: url(../imgs/bg-listaDoEstoque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    transition: all .4s ease-out !important;
}

.btn.btn-outline.buscar {
    color: #FFF !important;
    font-size: 0.7rem;
}

.btn.btn-outline.buscar:hover {
    background-color: #FF7F50;
    color: #FFF;
}

.navbar-brand {
    color: #FFF !important;
}

#titulo {
    text-align: center;
    color: #FF7F50;
}

#listaDoEstoqueArea {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 127, 80, 0.795);
    border-radius: 5px 10px 5px 10px;
    box-shadow: 1px 4px 3px 0px;
    padding: 1em;
    margin: 50px;
}

#tabelaDoEstoque {
    clear: both;
    border-collapse: collapse;
    width: 100%;
}

#tabelaDoEstoque tr, td, th {
    border: 1px solid #000;
    border-radius: 5px 10px 5px 10px;
    padding: 1em;
    color: #FFF;
}




